%h1 Your inbox

%table
  %thead
    %tr
      %th From
      %th Subject
      %th Sent at
      %th Read
      %th 1
      %th 2

  %tbody
    - @messages.each do |message|
      %tr
        %td= if message.from_user_id < 10 then "Happy" else message.from_user_id end
        %td= message.subject
        %td= message.sent_at
        %td= if message.read_at then "✓" else "" end
        %td= link_to 'Show', message
        %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
