= form_for @newsitem do |f|
  - if @newsitem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsitem.errors.count, "error")} prohibited this newsitem from being saved:"
      %ul
        - @newsitem.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :icon
    = f.text_field :icon, :style=> 'width: 4cm'
    = link_to "Icon Selection Guide", "https://www.emoji.codes/", target: "_blank"
  .field
    = f.label :name
    = f.text_field :name, :style=> 'width: 50%'
  .field
    = f.label :text
    = f.text_area :text, :style=> 'width: 100%; height: 3cm'
  .field
    = f.label :tags
    = f.text_field :tags, :style=> 'width: 50%'
  .field
    = f.date_field :bestbefore, class: "form-control datepicker", placeholder: "Best Before Date"
  .field
    = f.label :relevancedays
    = f.number_field :relevancedays, :style=> 'width: 4cm'
  .field
    = f.label :links
    = f.text_area :links, :style=> 'width: 100%; height: 3cm'
  %br/
  .actions
    = f.submit 'Save'
  %hr

:javascript
  $('.datepicker').pickadate({
    selectMonths: true
  });