= form_for @newsitem do |f|
  - if @newsitem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsitem.errors.count, "error")} prohibited this newsitem from being saved:"
      %ul
        - @newsitem.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :icon
    = f.text_field :icon
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.date_field :bestbefore, class: "form-control datepicker", placeholder: "Best Before Date"
  .field
    = f.label :relevancedays
    = f.number_field :relevancedays
  .field
    = f.label :links
    = f.text_area :links
  %br/
  .actions
    = f.submit 'Save'

:javascript
  $('.datepicker').pickadate({
    selectMonths: true
  });