%table
  %thead
    %tr
      %th
      %th
      %th.extra_column
      %th
      %th

  %tbody
    - @newsitems.each do |newsitem|
      %tr{ data: { href: newsitem_url(newsitem) }, class: 'list-item' }
        %td.icon= newsitem.icon && Emoji.find_by_alias(newsitem.icon) && Emoji.find_by_alias(newsitem.icon).raw
        %td= newsitem.name
        %td.extra_column= trunc(newsitem.text)
        %td= link_to "Read", newsitem.links, target: "_blank"
        %td= "#{distance_of_time_in_words(newsitem.created_at,Time.zone.now)} ago"
        %td= "+#{newsitem.get_up_votes.size} -#{newsitem.get_down_votes.size} = #{newsitem.get_up_votes.size-newsitem.get_down_votes.size} / #{newsitem.votes_for.size}"
        %td= link_to "👍", upvote_newsitem_path(newsitem), method: :put
        %td= link_to "👎", downvote_newsitem_path(newsitem), method: :put