%p#notice= notice

.newsitem
  %h1= @newsitem.name
  %p= @newsitem.text
  %h2= link_to 'Read full article', @newsitem.links
  %hr

  = link_to 'Edit', edit_newsitem_path(@newsitem)
  \|
  = link_to 'Back', newsitems_path
