%p#notice= notice

.newsitem
  %h1= @newsitem.name
  %p= @newsitem.text
  %h2= link_to 'View article/content', @newsitem.links, target: "_blank"
  %hr
  = link_to "Posted by #{begin User.find(@newsitem.created_by).name ? User.find(@newsitem.created_by).name : User.find(@newsitem.created_by).email rescue '?' end}"
  %td= "#{distance_of_time_in_words(@newsitem.created_at,Time.zone.now)} ago"
  %td= "+#{@newsitem.get_up_votes.size} -#{@newsitem.get_down_votes.size} = #{@newsitem.get_up_votes.size-@newsitem.get_down_votes.size} / #{@newsitem.votes_for.size}"
  %td= link_to "👍", upvote_newsitem_path(@newsitem), method: :put
  %td= link_to "👎", downvote_newsitem_path(@newsitem), method: :put
  %hr
  = link_to 'Edit', edit_newsitem_path(@newsitem)
  \|
  = link_to 'Back', newsitems_path
  \|
  = link_to 'New Newsitem', new_newsitem_path
