%h1 Levels

%table
  %thead
    %tr
      %th Name
      %th Icon
      %th
      %th
      %th

  %tbody
    - @levels.each do |level|
      %tr
        %td.icon= level.icon && Emoji.find_by_alias(level.icon) && Emoji.find_by_alias(level.icon).raw
        %td= level.name
        %td= link_to 'Show', level
        %td= link_to 'Edit', edit_level_path(level)
        %td= link_to 'Destroy', level, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Level', new_level_path
