= form_for @mission do |f|
  - if @mission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mission.errors.count, "error")} prohibited this mission from being saved:"
      %ul
        - @mission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :icon
    = f.text_field :icon
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :co2
    = f.text_field :co2
  .field
    = f.label :continuous
    = f.check_box :continuous
  .field
    = f.label :category
    = f.select :category_id, Category.all.map {|c| [ c.name, c.id ] }
  .field
    = f.label :level
    = f.select :level_id, Level.all.map {|l| [ l.name, l.id ] }
  .field
    = f.label :difficulty
    = f.text_field :difficulty
  .field
    = f.label :duration
    = f.text_field :duration
  .actions
    = f.submit 'Save'
